html {
  padding: 0;
  margin: 10px 70px;
}

.heading {
  font-family: "Abril Fatface", sans-serif;
  font-size: 20px;
  margin: 0;
  color: #313638;
}

h1 {
  margin: auto;
  display: flex;
  justify-content: center;
  color: #f06543;
  font-family: "Abril Fatface", sans-serif;
  font-size: 40px;
  background-color: #e8e9eb;
}

body {
  background-color: #e8e9eb;
  font-family: "Raleway", sans-serif;
}

#recipe-search {
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 5px;
  border-bottom: 1px solid #313638;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

#food-input {
  display: flex;
  background-color: transparent;
  width: 100%;
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 0;
  background-position: 100% center;
}

#recipe-button {
  display: flex;
  background-color: transparent;
  width: 5%;
  padding: 11px;
  font-size: 17px;
  float: right;
  border: none;
}

.flex-container {
  display: flex;
}

.flex-item {
  display: flex;
}

#filters {
  line-height: 2;
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 20%;
  border-right: 1px solid black;
}

#filter-button {
  border: 0;
  width: 8em;
  height: 2em;
  background-color: #f06543;
  font-family: "Abril Fatface", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.filter-section {
  padding: 0.5em 0em;
}

#recipe-section {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  padding: 2em;
  width: 40%;
}

#recipebox {
  align-content: flex-start;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 35vw;
  margin-bottom: 2em;
}

#recipetext {
  display: flex;
  flex-flow: column nowrap;
  margin: 1em;
  padding: 1em;
}

#recipetext a {
  font-weight: bold;
  color: #f06543;
  background-color: transparent;
}

#recipetext a:hover {
  background-color: #313638;
}

#recipetext a:visited {
  color: #f09d51;
}

#foodbank {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 30%;
  border-left: 1px solid black;
}
