html {
  padding: 0;
  margin: 0;
}
.heading {
  font-family: "Pattaya", sans-serif;
}

h1 {
  border-radius: 0.1em;
  color: #5f9595;
  font-size: 4em;
  background-color: #c4d7d1;
  text-align: center;
  width: 90vw;
  height: auto;
  margin: auto;
  padding: 0.8em;
}

body {
  background-color: #e8eced;
  font-family: "Roboto", sans-serif;
}

#recipe-search {
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 5px;
  border-bottom: 1px solid #575756;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#food-input {
  display: flex;
  background-color: transparent;
  width: 100%;
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 0;
  background-position: 100% center;
}

#recipe-button {
  display: flex;
  background-color: transparent;
  width: 5%;
  padding: 11px;
  font-size: 17px;
  float: right;
  border: none;
}

.flex-container {
  display: flex;
}

.flex-item {
  display: flex;
}

.filters {
  margin: 1em;
  padding: 1 em;
  width: 25%;
}

#recipe-section {
  flex-direction: column;
}
#foodbank {
  display: flex;
  flex-direction: column;
}
